/* untuk body*/
*, html, body {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family : Helvetica;
    scroll-behavior: smooth;
}

/* untuk header nya*/
header {
    background: #1A2238 ;
    color: #eaeaea ;
    display: flex ;
    justify-content : center ;
    align-items: center;
    gap : 10px;
    flex-wrap: wrap;
}

.logo {
        margin-right: auto;
        display: flex;
        gap: 8px;
}

.logo-img {
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

/* logo */
.logo-title {
    padding: 3px;
    cursor: pointer;
    transition: all .5s ease 0s;
}

/* gaya yang di terapkan pada class logo */
.logo:hover {
    color: #FF6A3D;
    transform: rotate(2deg);
}

/* untuk mengatur elemen ul yang ada di dalam nav */
nav ul {
    display : flex;
    padding : 20px;
}

/* untuk mengatur li a yang ada di dalam (ul/nav), */
li {
    list-style-type : none ;
    padding : 10px;
}

/* untuk mengatur transfor animasi gerak di li a yang ada di dalam (ul/nav), */
li a {
    transition: all .5s ease 0s;
    display: inline-block;
}

/* untuk mengatur li a yang ada di dalam (ul/nav), */
li a:hover {
    color: #FF6A3D;
    transform: rotate(2deg);
}

/* untuk megatur style botton pada foolow kami */
.btn-cta {
    margin-right: 15px;
    margin-bottom: 14px;
    border: none;
    font-size: 20px;
    padding: 6px 12px;
    background: #FF6A3D;
    color: #eaeaea;
    border-radius: 8px;
    cursor: pointer;
}

/* ini berhubungan dengan semua a karna a itu adalah link a href,
akan beruba dengan gaya yang sudah di tentukan */
a {
    color: #eaeaea ;
    text-decoration: none;
}

/* ini untuk div container, div digunakan untuk mengelompokan konten 
digunakan untuk mengelompokkan dan mengatur tata letak keseluruhan 
bagian konten utama. */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

/* digunakan untuk mengelompokkan konten spesifik di dalam .container, 
seperti teks pengantar dan gambar */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

/* unutk mengatur style class zambrud pada title */
.title {
font-size: 19px;
font-weight: bolder;
}

.tech {
    font-weight:bolder;
    font-size: 17px;
}

.description {
    font-size: 15px;
    margin-top: 4px;
}

.btn-cta {
    margin-top: 15px;
    margin-left: 17px;
}

/* unutk mengatur style class zambrud pada img foto */
.img-foto {
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 10px;
}

/* untuk style latar belakang, yang berisi img foto */
.ruby {
    position: relative;
    background-image: url('assets/foto/Rizki.3.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% 70%;
    height: 130vh;
}

/* ruby PSEUDO :: before untuk mengatur transparance pada ruby,
akan tertimpa karna z-index 1 yang lebih rendah */


/* ruby zambrud ini adalah clas zambrud yang menimpa clas ruby dengan
z-index 2, lebih tinggi */
.ruby .zambrud {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1A2238;
    color: #eaeaea;
    padding: 40px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 25px;
}

.card-item {
    text-align: center;
    width: 25%;
    background: #f7f7f7;
    color: #222;
    padding: 24px;
    box-shadow: 2px 5px 5px 1px rgba(0,0,0,0.5);  
    flex: 1;
    min-height: 220px;
    max-height: 300px;
}

.icon {
    width:75px; 
    height:75px;
    margin: 10px auto;
    padding: 4px;
}

footer {
    padding: 20px;
    text-align: center;
    background: #1A2238;
    color: #eaeaea;
}


@media screen and (max-width: 500px){
    .card {
        flex-direction: column;
        gap: 0; 
        padding: 0;
    }
    .card-item {
        width: 100%;
        opacity: 0.9;
    }
    .container{
        width:100%;
        padding:0;
    }
    .img-foto {
        padding:0;
    }
    .intro {
        margin-top: 20px;
    }
    nav {
        position: fixed;
        bottom: 0;
        background: #1A2238;
        z-index: 9;
        width: 100%;
    }
    footer {
        margin-bottom: 70px;
        margin-top: 70px;
    }
}

